.recent .text {
  padding: 30px;
}
.recent .category span {
  padding: 4px 15px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
}
.recent .category i {
  font-size: 20px;
  color: #bec7d8;
}
.recent .category i:hover {
  color: #f30000;
  cursor: pointer;
}
.recent .category i:focus {
  color: #f30000;
  cursor: pointer;
}
.recent p {
  color: #72809d;
}
.recent .button {
  border-top: 1px solid #e4e8f3;
  padding: 10px 30px;
}
.shadow:hover {
  position: relative;
  bottom: 5px;
  transition: 5s ease-in-out;
}
/* TABLET */
@media screen and (max-width: 1150px) {
  .grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
/*  MOBILE */
@media screen and (max-width: 650px) {
  .grid1-mobile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}
